.is-style-slider__wrapper {
  position: relative;
  overflow: hidden;
}
.is-style-slider__wrapper button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background-color: #eeeeee;
}
.is-style-slider__wrapper button:hover {
  background-color: #dddddd;
}

.is-style-slider {
  display: flex;
}
.is-style-slider__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0.125rem auto;
}
